<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="#">Thông tin tài khoản</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-5">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="../images/profile.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="product-details">
                    <h2>Email: {{user.email}}</h2>
                    <h2>Tên: {{user.ten}}</h2>
                    <h2>Địa chỉ: {{user.diaChi}}</h2>
                    <h2>Số điện thoại: {{user.sdt}}</h2>
                    <br><br><br>
                    <div class="add-to-cart">
                        <a href="/users/edit"><button class="add-to-cart-btn"><i></i>Chỉnh sửa thông tin</button></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION --> 