<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-7">
                <!-- Billing Details -->
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Đăng kí tài khoản</h3>
                    </div>
                    <form method="POST" action="/users/signUp">
                        <div class="form-group">
                            <input class="input" type="text" name="ho" placeholder="Họ">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="ten" placeholder="Tên">
                        </div>                  
                        <div class="form-group">
                            <input class="input" type="text" name="diaChi" placeholder="Địa chỉ">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="tp" placeholder="Thành phố">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="sdt" placeholder="Số điện thoại">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="username" placeholder="User name">
                        </div>
                        <div class="form-group">
                            <input class="input" type="password" name="password" id="password" placeholder="Pasword">
                        </div>
                        <div class="form-group">
                            <input class="input" type="password" id="confirm_password" placeholder="Nhập lại pasword">
                        </div>
                        <div>
                            <input class="primary-btn order-submit" type="submit" value="Đăng kí"/>
                        </div>
                    </form>                      							
                </div>
                <a href="/users" class="primary-btn order-submit">Trở về đăng nhập</a><br><br>
                <!-- /Billing Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>